<app-title title="Auth Directives" icon="ion-key"></app-title>

<div class="uk-background-top-center uk-background-muted"
     style="background-image: url(assets/images/rocket.jpg);">

  <div [@destroy]="destroyState" (@destroy.done)="destroyState = 'normal'">
    <div class="uk-container">
      <app-example title="SecIsAuthenticated" description="Checa se a pessoa está logada" [code]="example1">
        <div *secIsAuthenticated>
          You are Authenticated
        </div>
      </app-example>
      <app-example title="SecHasRole" description="Verifica se pessoa esté em grupo" [code]="example2">
        <div *secHasRole="'president'">
          You are The President
          <button class="uk-button uk-button-danger" (click)="launchNuclearAttack()">Launch Nuclear Attack</button>
        </div>

        <div *secHasRole="'admin'">
          You are admin
          <button class="uk-button uk-button-danger" (click)="resetPassword()">Reset Password</button>
        </div>
      </app-example>
      <app-example title="Disabling" description="Desabilita um elemento ao invés de removê-lo" [code]="example3">
        <p>
          Are you the President?
          <button *secHasRole="'president'; action 'addClass'" class="uk-button uk-button-danger"
                  (click)="launchNuclearAttack()">Launch Nuclear Attack
          </button>
        </p>
        <p>
          You are admin?
          <button *secHasRole="'admin'; action 'addClass'" class="uk-button uk-button-secondary"
                  (click)="resetPassword()">Reset Password
          </button>
        </p>
      </app-example>


    </div>
  </div>
</div>




