<p-dialog [header]="title" [(visible)]="display" modal="true" [styleClass]="styleClass"
          [breakpoint]="breakpoint"
          [width]="width" [height]="height"
          [responsive]="true">

  <div [id]="modalId" role="dialog" tabindex='-1' style="z-index: 6000">
    <ng-content></ng-content>
  </div>


  <p-footer>
    <button class="ui-button-secondary" type="button" pButton [label]="cancelTxt" (click)="hide()"></button>
    <button pButton *ngIf="!confirmButtonRemoved"
            type="submit"
            (click)="confirm()"
            [disabled]="confirmButtonDisabled"
            [label]="confirmTxt"
    >
    </button>
  </p-footer>
</p-dialog>
