<div class="uk-container">
  <form (ngSubmit)="doSubmit(form.value)" [vaderDisabled]="disabled">
    <fieldset class="uk-fieldset" [vaderDisabled]="disabled">
      <input type="hidden" name="_links" ngModel />
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label>Nome <input required pInputText ngModel name="nome" label="Nome"/></label>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <label>Email <input required pInputText email ngModel name="email" label="Email"/></label>
        </div>
      </div>
    </fieldset>

  </form>
</div>

