<app-title title="Dashboard" icon="ion-speedometer"></app-title>
<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl">
      <div *ngFor="let stat of statistics">
        <div class="uk-card uk-card-default uk-card-body">
          <span class="statistics-text">{{stat.title}}</span><br/>
          <span class="statistics-number">
            {{stat.total | number}}
            <span [ngClass]="{'uk-label': true, 'uk-label-success': stat.up, 'uk-label-danger': !stat.up}">
                {{stat.percentage | percent}}
              <span
                [ngClass]="{'ion-arrow-up-c': stat.up, 'ion-arrow-down-c': !stat.up}"></span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
